### Data and Files ###

# Kaggle

## Data Files
data/test.csv
data/train.csv

## Cleaned Files
cleaned/clean_test.csv
cleaned/clean_train.csv

## Model Files
model/model.csv

## Feature Engineering Files
engineered/engineer_train.csv

## Output Files
output/gender.csv
output/genderclassfare.csv

### Python ###

# Compiled Files
__pycache__/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

### IDEs and Editors ###

# JetBrains
.idea/
*.iml
*.iws