### Data and Files ###

# Kaggle

## Data Files
data/test.csv
data/train.csv

## Model Files
model/model.csv

## Output Files
output/gender.csv
output/genderclassfare.csv

### Python ###

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

### IDEs and Editors ###

# JetBrains
.idea/
*.iml
*.iws